#ignore Node_modules folder and config.json because private data is involved in the these ignored files/folders
src/config.json
\node_modules
package-lock.json
\db
\built
.env
.env.json
data/database.sqlite
src/data/database.sqlite
